Repository nymtech/nym, changes with the owners that .github/CODEOWNERS names for each.
All owners: @futurechimp, @mmsinclair, @durch, @jstuczyn, @neacsu, @octol, @fmtabbara, @Aid19801, @mfahampshire, @aniampio, @nymtech/product

Rename all -> test
  Makefile
Owners: @futurechimp, @mmsinclair

terminology updates
  nym-wallet/src/components/InfoToolTip.tsx
  nym-wallet/src/components/index.ts
  nym-wallet/src/pages/balance/vesting.tsx
  nym-wallet/src/pages/settings/system-variables.tsx
Owners: @nymtech/product

Fix unused import
  common/client-libs/gateway-client/src/bandwidth.rs
Owners: @durch, @futurechimp, @jstuczyn, @neacsu, @octol

fix alignment
  nym-wallet/src/pages/balance/vesting.tsx
  nym-wallet/src/types/global.ts
  nym-wallet/src/types/rust/index.ts
Owners: @nymtech/product

display total vesting
  nym-wallet/src/pages/balance/vesting.tsx
Owners: @nymtech/product

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# More details are here: https://help.github.com/articles/about-codeowners/

# The '*' pattern is global owners.

# Order is important. The last matching pattern has the most precedence.
# The folders are ordered as follows:

# In each subsection folders are ordered first by depth, then alphabetically.
# This should make it easy to add new rules without breaking existing ones.

# Something weird not covered by anything else
* @futurechimp @mmsinclair

# Rust rules:
*.rs @durch @futurechimp @jstuczyn @neacsu @octol
Cargo.* @durch @futurechimp @jstuczyn @neacsu @octol

# JS rules:
*.js @mmsinclair @fmtabbara @Aid19801
*.ts @mmsinclair @fmtabbara @Aid19801
*.tsx @mmsinclair @fmtabbara @Aid19801
*.jsx @mmsinclair @fmtabbara @Aid19801

# Something looking like possible documentation rules:
*.md @mfahampshire

# our docker scripts
/docker/ @neacsu

# if there are any changes in the core crypto, I feel like Ania should take a look:
/common/crypto/ @aniampio
/common/nymsphinx/ @aniampio

# Explorer and wallet should probably get looked by the product team
/explorer/ @nymtech/product 
/nym-wallet/ @nymtech/product 
/wallet-web/ @nymtech/product
