Repository nymtech/nym, pull requests merged in 2021-11, with the labels that each got.

#845 Mixnode Detail Alignment
  explorer/src/components/ContentCard.tsx
  explorer/src/components/CustomColumnHeading.tsx
  explorer/src/components/Universal-DataGrid.tsx
  explorer/src/pages/Gateways/index.tsx
  explorer/src/pages/MixnodeDetail/index.tsx
  explorer/src/pages/Mixnodes/index.tsx
  explorer/src/styles.css
Labels: network-explorer

#848 Equalise spacing pages
  explorer/src/components/Title.tsx
  explorer/src/pages/Gateways/index.tsx
  explorer/src/pages/Overview/index.tsx
Labels: network-explorer

#849 Mixnode-map page
  explorer/package-lock.json
  explorer/package.json
  explorer/src/context/main.tsx
  explorer/src/pages/Mixnodes/index.tsx
  explorer/src/pages/MixnodesMap/index.tsx
  explorer/src/utils/index.ts
Labels: network-explorer

#850 Routing root reqs direct to Overview
  explorer/src/routes/index.tsx
Labels: network-explorer

#851 basic 404 page and btn back to overview
  explorer/src/pages/404/index.tsx
  explorer/src/routes/index.tsx
Labels: network-explorer

#852 Bug bond column
  explorer/src/pages/Gateways/index.tsx
  explorer/src/pages/MixnodeDetail/index.tsx
  explorer/src/pages/Mixnodes/index.tsx
  explorer/src/utils/index.ts
Labels: network-explorer

#853 Add Percent Self to Mixnodes Datagrid
  explorer/src/pages/MixnodeDetail/index.tsx
  explorer/src/pages/Mixnodes/index.tsx
  explorer/src/utils/index.ts
Labels: network-explorer

#859 Scrollable delegators
  explorer/src/components/BondBreakdown.tsx
Labels: network-explorer

#863 Merge Fixes
  explorer/src/components/Title.tsx
  explorer/src/pages/MixnodeDetail/index.tsx
  explorer/src/pages/Mixnodes/index.tsx
  explorer/src/pages/MixnodesMap/index.tsx
Labels: network-explorer

#866 pagination and spacing of gateways cols
  explorer/src/components/BondBreakdown.tsx
  explorer/src/components/Universal-DataGrid.tsx
  explorer/src/index.tsx
  explorer/src/pages/Gateways/index.tsx
  explorer/src/pages/Mixnodes/index.tsx
Labels: network-explorer

#842 fix delegate success overflow
  tauri-wallet/src/routes/delegate/index.tsx
Labels: desktop wallet

#871 add native window items (copy/paste) via tauri
  tauri-wallet/src-tauri/src/main.rs
Labels: desktop wallet

#861 Network Explorer theme typings
  explorer/src/components/BondBreakdown.tsx
  explorer/src/components/ContentCard.tsx
  explorer/src/components/CustomColumnHeading.tsx
  explorer/src/components/Footer.tsx
  explorer/src/components/Nav.tsx
  explorer/src/components/Socials.tsx
  explorer/src/components/StatsCard.tsx
  explorer/src/components/Switch.tsx
  explorer/src/components/Title.tsx
  explorer/src/components/TwoColSmallTable.tsx
  explorer/src/components/Universal-DataGrid.tsx
  explorer/src/components/UptimeChart.tsx
  explorer/src/components/WorldMap.tsx
  explorer/src/context/main.tsx
  explorer/src/icons/GatewaysSVG.tsx
  explorer/src/icons/LightSwitchSVG.tsx
  explorer/src/icons/MixnodesSVG.tsx
  explorer/src/icons/NetworksSVG.tsx
  explorer/src/icons/NodemapSVG.tsx
  explorer/src/icons/OverviewSVG.tsx
  explorer/src/icons/ValidatorsSVG.tsx
  explorer/src/index.tsx
  explorer/src/pages/Overview/index.tsx
  explorer/src/theme.ts
  explorer/src/theme/README.md
  explorer/src/theme/index.tsx
  explorer/src/theme/mui-theme.d.ts
  explorer/src/theme/theme.ts
Labels: network-explorer

#884 Fix path for github action running tauri-wallet-tests
  tauri-wallet/webdriver/.prettierrc.json
  tauri-wallet/webdriver/README.md
  tauri-wallet/webdriver/babel.config.js
  tauri-wallet/webdriver/common/constants/text-constants.js
  tauri-wallet/webdriver/common/data/user-data.json
  tauri-wallet/webdriver/common/helpers/helper.js
  tauri-wallet/webdriver/package.json
  tauri-wallet/webdriver/tests/pages/wallet.bond.js
  tauri-wallet/webdriver/tests/pages/wallet.create.js
  tauri-wallet/webdriver/tests/pages/wallet.delegate.js
  tauri-wallet/webdriver/tests/pages/wallet.homepage.js
  tauri-wallet/webdriver/tests/pages/wallet.login.js
  tauri-wallet/webdriver/tests/pages/wallet.receive.js
  tauri-wallet/webdriver/tests/pages/wallet.send.js
  tauri-wallet/webdriver/tests/pages/wallet.undelegate.js
  tauri-wallet/webdriver/tests/specs/existinguser/test.wallet.bond.js
  tauri-wallet/webdriver/tests/specs/existinguser/test.wallet.delegate.js
  tauri-wallet/webdriver/tests/specs/existinguser/test.wallet.home.js
  tauri-wallet/webdriver/tests/specs/existinguser/test.wallet.receive.js
  tauri-wallet/webdriver/tests/specs/existinguser/test.wallet.send.js
  tauri-wallet/webdriver/tests/specs/existinguser/test.wallet.undelegate.js
  tauri-wallet/webdriver/tests/specs/newuser/test.wallet.create.js
  tauri-wallet/webdriver/wdio.conf.cjs
Labels: desktop wallet

#894 Only use ts-rs in tests
  Cargo.lock
  common/client-libs/validator-client/Cargo.toml
  common/client-libs/validator-client/src/nymd/fee_helpers.rs
  common/mixnet-contract/Cargo.toml
  tauri-wallet/Cargo.lock
  tauri-wallet/src-tauri/Cargo.toml
  tauri-wallet/src-tauri/src/coin.rs
  tauri-wallet/src-tauri/src/main.rs
  tauri-wallet/src-tauri/src/operations/account.rs
  tauri-wallet/src-tauri/src/operations/admin.rs
  tauri-wallet/src-tauri/src/operations/delegate.rs
  tauri-wallet/src-tauri/src/operations/send.rs
  tauri-wallet/src/types/rust/tauritxresult.ts
Labels: desktop wallet

#885 Adding data-test-ids for the explorer
  explorer/src/components/BondBreakdown.tsx
  explorer/src/components/ComponentError.tsx
  explorer/src/components/CustomColumnHeading.tsx
  explorer/src/components/Nav.tsx
  explorer/src/components/Socials.tsx
  explorer/src/components/StatsCard.tsx
  explorer/src/components/Switch.tsx
  explorer/src/components/TableToolbar.tsx
  explorer/src/components/Title.tsx
  explorer/src/components/TwoColSmallTable.tsx
  explorer/src/pages/Gateways/index.tsx
  explorer/src/pages/MixnodeDetail/index.tsx
  explorer/src/pages/Mixnodes/index.tsx
  explorer/src/pages/MixnodesMap/index.tsx
Labels: network-explorer

#887 Change MixnodeDetail page's datagrid into a reuseable table component
  explorer/src/components/DetailTable.tsx
  explorer/src/pages/MixnodeDetail/index.tsx
  explorer/src/utils/index.ts
Labels: network-explorer

#895 Add a Mobile Nav to the Network Explorer
  explorer/package-lock.json
  explorer/package.json
  explorer/src/App.tsx
  explorer/src/components/MobileNav.tsx
  explorer/src/components/Nav.tsx
  explorer/src/components/Universal-DataGrid.tsx
  explorer/src/context/main.tsx
  explorer/src/context/nav.tsx
  explorer/src/icons/MobileDrawerClose.tsx
  explorer/src/styles.css
  explorer/src/theme/mui-theme.d.ts
  explorer/src/theme/theme.ts
Labels: network-explorer

#891 remove delegation and undelegation from gateways
  wallet-web/components/delegate/NodeDelegation.tsx
  wallet-web/components/undelegate/NodeUndelegation.tsx
  wallet-web/pages/delegateStake.tsx
  wallet-web/pages/undelegateStake.tsx
Labels: web-wallet

#907 Bugfix/monitor initial values wait
  validator-api/src/network_monitor/monitor/mod.rs
  validator-api/src/network_monitor/monitor/preparer.rs
Labels: bug

#909 Fixes crash condition in validator API when calculating last day uptime
  validator-api/src/node_status_api/utils.rs
Labels: bug

#915 Fix Mobile View for MUI data-grid (CARD 108)
  explorer/src/components/CustomColumnHeading.tsx
  explorer/src/components/StatsCard.tsx
  explorer/src/components/TableToolbar.tsx
  explorer/src/components/Universal-DataGrid.tsx
  explorer/src/pages/Gateways/index.tsx
  explorer/src/pages/Mixnodes/index.tsx
  explorer/src/pages/MixnodesMap/index.tsx
  explorer/src/styles.css
  explorer/src/utils/index.ts
Labels: network-explorer

#917 Bugfix/remove mixnode bonding overwrite
  contracts/mixnet/src/gateways/transactions.rs
  contracts/mixnet/src/mixnodes/bonding_transactions.rs
Labels: bug

#919 Introduces query for contract build information
  common/client-libs/validator-client/src/client.rs
  common/client-libs/validator-client/src/nymd/mod.rs
  common/mixnet-contract/src/msg.rs
  common/mixnet-contract/src/types.rs
  contracts/mixnet/Cargo.lock
  contracts/mixnet/Cargo.toml
  contracts/mixnet/build.rs
  contracts/mixnet/src/contract.rs
  contracts/mixnet/src/mixnet_contract_settings/queries.rs
Labels: enhancement
