Repository nymtech/nym, pull requests merged in 2021-12, with the labels that each got.

#940 Don't reset total delegation on mixnode rebond
  contracts/mixnet/src/mixnodes/transactions.rs
Labels: bug

#963 Fixed invalid nodes being counted twice in unroutable category
  validator-api/src/network_monitor/monitor/summary_producer.rs
Labels: bug

#966 Fixes to Network Explorer for new testnet
  .github/workflows/network-explorer.yml
  Cargo.lock
  explorer-api/Cargo.toml
  explorer-api/src/country_statistics/geolocate.rs
  explorer-api/src/country_statistics/http.rs
  explorer-api/src/http/mod.rs
  explorer-api/src/http/swagger.rs
  explorer-api/src/main.rs
  explorer-api/src/mix_node/http.rs
  explorer-api/src/mix_nodes/http.rs
  explorer-api/src/mix_nodes/mod.rs
  explorer-api/src/ping/http.rs
  explorer/.env.prod
  explorer/package-lock.json
  explorer/package.json
  explorer/src/api/constants.ts
  explorer/src/api/index.ts
  explorer/src/components/BondBreakdown.tsx
  explorer/src/components/DetailTable.tsx
  explorer/src/pages/Gateways/index.tsx
  explorer/src/pages/Mixnodes/index.tsx
  explorer/src/typeDefs/explorer-api.ts
  explorer/src/utils/currency.ts
  explorer/src/utils/index.ts
  explorer/webpack.common.js
Labels: network-explorer

#968 Feature/new testnet wallet updates
  nym-wallet/.env.sample
  nym-wallet/Cargo.lock
  nym-wallet/config.ts
  nym-wallet/package.json
  nym-wallet/src/context/main.tsx
  nym-wallet/src/requests/index.ts
  nym-wallet/src/routes/bond/BondForm.tsx
  nym-wallet/src/routes/bond/SuccessView.tsx
  nym-wallet/src/routes/bond/validationSchema.ts
  nym-wallet/src/routes/delegate/DelegateForm.tsx
  nym-wallet/src/routes/delegate/SuccessView.tsx
  nym-wallet/src/routes/delegate/validationSchema.ts
  nym-wallet/src/routes/send/SendConfirmation.tsx
  nym-wallet/src/routes/send/SendForm.tsx
  nym-wallet/src/routes/send/SendReview.tsx
  nym-wallet/src/routes/send/index.tsx
  nym-wallet/src/routes/undelegate/UndelegateForm.tsx
  nym-wallet/src/routes/undelegate/validationSchema.ts
  nym-wallet/src/utils/index.ts
  nym-wallet/webpack.common.js
  nym-wallet/webpack.dev.js
  nym-wallet/webpack.prod.config.js
  nym-wallet/webpack.prod.js
  nym-wallet/yarn.lock
Labels: desktop wallet

#965 Feature/optional bandwidth bypass
  clients/client-core/src/config/mod.rs
  clients/native/src/client/config/template.rs
  clients/native/src/client/mod.rs
  clients/native/src/commands/init.rs
  clients/native/src/commands/mod.rs
  clients/native/src/commands/run.rs
  clients/socks5/src/client/config/template.rs
  clients/socks5/src/client/mod.rs
  clients/socks5/src/commands/init.rs
  clients/socks5/src/commands/mod.rs
  clients/socks5/src/commands/run.rs
  clients/webassembly/src/client/mod.rs
  common/client-libs/gateway-client/src/client.rs
  gateway/gateway-requests/src/lib.rs
  gateway/gateway-requests/src/types.rs
  gateway/src/commands/init.rs
  gateway/src/commands/mod.rs
  gateway/src/commands/run.rs
  gateway/src/config/mod.rs
  gateway/src/config/template.rs
  gateway/src/node/client_handling/mod.rs
  gateway/src/node/client_handling/websocket/connection_handler/authenticated.rs
  gateway/src/node/client_handling/websocket/connection_handler/fresh.rs
  gateway/src/node/client_handling/websocket/listener.rs
  gateway/src/node/mod.rs
  validator-api/src/config/mod.rs
  validator-api/src/config/template.rs
  validator-api/src/main.rs
  validator-api/src/network_monitor/mod.rs
  validator-api/src/network_monitor/monitor/sender.rs
Labels: gateway
