Repository nymtech/nym, pull requests merged in 2022-01, with the labels that each got.

#1039 Network Explorer UI - active set and overview summary
  explorer/package-lock.json
  explorer/package.json
  explorer/src/api/constants.ts
  explorer/src/api/index.ts
  explorer/src/components/BondBreakdown.tsx
  explorer/src/components/DetailTable.tsx
  explorer/src/components/Gateways.tsx
  explorer/src/components/Icons.tsx
  explorer/src/components/MixNodes/BondBreakdown.tsx
  explorer/src/components/MixNodes/DetailSection.tsx
  explorer/src/components/MixNodes/Status.tsx
  explorer/src/components/MixNodes/StatusDropdown.tsx
  explorer/src/components/MixNodes/index.ts
  explorer/src/components/StatsCard.tsx
  explorer/src/components/TableToolbar.tsx
  explorer/src/context/hooks.ts
  explorer/src/context/main.tsx
  explorer/src/context/mixnode.tsx
  explorer/src/pages/Gateways/index.tsx
  explorer/src/pages/MixnodeDetail/index.tsx
  explorer/src/pages/Mixnodes/index.tsx
  explorer/src/pages/Overview/index.tsx
  explorer/src/routes/network-components.tsx
  explorer/src/theme/mui-theme.d.ts
  explorer/src/theme/theme.ts
  explorer/src/typeDefs/explorer-api.ts
  explorer/src/typings/react-identicons.d.ts
  explorer/src/utils/index.ts
Labels: network-explorer

#1054 Network Explorer: visual nit picks
  explorer/src/api/constants.ts
  explorer/src/components/ContentCard.tsx
  explorer/src/components/CustomColumnHeading.tsx
  explorer/src/components/DetailTable.tsx
  explorer/src/components/MixNodes/BondBreakdown.tsx
  explorer/src/components/MixNodes/DetailSection.tsx
  explorer/src/components/MobileNav.tsx
  explorer/src/components/Nav.tsx
  explorer/src/components/Socials.tsx
  explorer/src/components/StatsCard.tsx
  explorer/src/components/Switch.tsx
  explorer/src/components/Title.tsx
  explorer/src/fonts/OpenSans-Italic-VariableFont_wdth,wght.ttf
  explorer/src/fonts/OpenSans-VariableFont_wdth,wght.ttf
  explorer/src/icons/GatewaysSVG.tsx
  explorer/src/icons/MixnodesSVG.tsx
  explorer/src/icons/ValidatorsSVG.tsx
  explorer/src/icons/socials/DiscordIcon.tsx
  explorer/src/icons/socials/GitHubIcon.tsx
  explorer/src/icons/socials/TelegramIcon.tsx
  explorer/src/icons/socials/TwitterIcon.tsx
  explorer/src/index.html
  explorer/src/pages/404/index.tsx
  explorer/src/pages/Mixnodes/index.tsx
  explorer/src/pages/Overview/index.tsx
  explorer/src/styles.css
  explorer/src/theme/mui-theme.d.ts
  explorer/src/theme/theme.ts
  explorer/webpack.common.js
Labels: network-explorer

#1058 display client address on wallet creation
  nym-wallet/src/pages/sign-in/create-account.tsx
  nym-wallet/src/types/global.ts
Labels: bug

#1065 De-'float'-ing `Interval` (`Display` impl + `serde`)
  Cargo.lock
  common/cosmwasm-smart-contracts/mixnet-contract/Cargo.toml
  common/cosmwasm-smart-contracts/mixnet-contract/src/interval.rs
  contracts/Cargo.lock
  nym-wallet/Cargo.lock
Labels: bug

#1047 Upgrade Clap and use declarative argument parsing for nym-mixnode
  Cargo.lock
  mixnode/Cargo.toml
  mixnode/src/commands/describe.rs
  mixnode/src/commands/init.rs
  mixnode/src/commands/mod.rs
  mixnode/src/commands/node_details.rs
  mixnode/src/commands/run.rs
  mixnode/src/commands/sign.rs
  mixnode/src/commands/upgrade.rs
  mixnode/src/main.rs
  mixnode/src/node/mod.rs
Labels: mixnode, chore
