Repository nymtech/nym, pull requests merged in 2022-08, with the labels that each got.

#1490 NE: Filter by use routing score instead of stake parameter and adding filters info
  explorer/src/components/Filters/Filters.tsx
  explorer/src/components/Filters/filterSchema.ts
  explorer/src/context/main.tsx
  explorer/src/typeDefs/filters.ts
Labels: network-explorer

#1491 Wallet: Fix light mode bg and nav bar UI
  nym-wallet/src/components/Nav.tsx
  nym-wallet/src/layouts/AppLayout.tsx
  nym-wallet/src/theme/mui-theme.d.ts
  nym-wallet/src/theme/theme.tsx
Labels: desktop wallet

#1489 Wallet: Fixing dark mode colours in vesting shedule
  nym-wallet/src/pages/balance/components/vesting-timeline.tsx
  nym-wallet/src/pages/balance/vesting.tsx
Labels: desktop wallet

#1505 feat(wallet-balance): hide vesting ui when vesting balance is empty
  nym-wallet/src/pages/balance/components/vesting-timeline.tsx
  nym-wallet/src/pages/balance/index.tsx
Labels: desktop wallet

#1527 fix(wallet): typo
  nym-wallet/src/components/Delegation/DelegationActions.tsx
Labels: desktop wallet

#1542 fix(nym-wallet): make get_operator_rewards request success optional
  nym-wallet/src/components/Bonding/BondedMixnode.tsx
  nym-wallet/src/components/Bonding/modals/CompoundRewardsModal.tsx
  nym-wallet/src/components/Bonding/modals/RedeemRewardsModal.tsx
  nym-wallet/src/components/Bonding/modals/UnbondModal.tsx
  nym-wallet/src/components/Modals/ModalListItem.tsx
  nym-wallet/src/context/bonding.tsx
Labels: desktop wallet

#1499 Wallet: new UI for pending delegation
  nym-wallet/src/components/Delegation/DelegationList.tsx
  nym-wallet/src/components/Delegation/PendingEvents.tsx
  nym-wallet/src/context/delegations.tsx
  nym-wallet/src/context/mocks/rewards.tsx
  nym-wallet/src/pages/delegation/index.tsx
Labels: desktop wallet

#1540 Nym-connect - store in local storage the service provider
  nym-connect/CHANGELOG.md
  nym-connect/Cargo.lock
  nym-connect/package.json
  nym-connect/src-tauri/Cargo.toml
  nym-connect/src-tauri/tauri.conf.json
  nym-connect/src/components/ConnectionButton.tsx
  nym-connect/src/components/ServiceProviderSelector.tsx
  nym-connect/src/context/main.tsx
  nym-connect/src/layouts/DefaultLayout.tsx
Labels: nym-connect

#1543 fix(nym-wallet): bonding, enhance error handling
  nym-wallet/src/context/bonding.tsx
  nym-wallet/src/pages/bonding/index.tsx
Labels: desktop wallet

#1562 fix(wallet): typing issues
  nym-wallet/src/pages/settings/system-variables.tsx
Labels: desktop wallet

#1563 Connect: remove some sources of panics when initializing socks5-client
  clients/native/src/client/config/mod.rs
  clients/socks5/src/client/config/mod.rs
  common/config/src/lib.rs
  gateway/src/config/mod.rs
  mixnode/src/config/mod.rs
  nym-connect/src-tauri/src/config/mod.rs
  nym-connect/src-tauri/src/error.rs
  nym-connect/src-tauri/src/state.rs
  nym-wallet/src-tauri/src/platform_constants.rs
  validator-api/src/config/mod.rs
Labels: nym-connect

#1567 clean(wallet): remove useless files (with flamethrowers 🔥)
  nym-wallet/src/pages/bond/components/ConfirmationModal.tsx
  nym-wallet/src/pages/bond/components/FormHandler.tsx
  nym-wallet/src/pages/bond/components/GatewayForm.tsx
  nym-wallet/src/pages/bond/components/MixnodeForm.tsx
  nym-wallet/src/pages/bond/components/SuccessView.tsx
  nym-wallet/src/pages/bond/index.tsx
  nym-wallet/src/pages/bond/validationSchema.ts
  nym-wallet/src/pages/index.ts
  nym-wallet/src/pages/unbond/components/ConfirmationModal.tsx
  nym-wallet/src/pages/unbond/components/UnbondGateway.tsx
  nym-wallet/src/pages/unbond/components/UnbondMixnode.tsx
  nym-wallet/src/pages/unbond/index.tsx
  nym-wallet/src/routes/app.tsx
Labels: desktop wallet

#1574 fix(nym-wallet): profit margin input
  nym-wallet/src/components/Bonding/modals/BondGatewayModal.tsx
  nym-wallet/src/components/Bonding/modals/BondMixnodeModal.tsx
  nym-wallet/src/components/Bonding/modals/NodeSettingsModal.tsx
  nym-wallet/src/components/Delegation/DelegateModal.tsx
  nym-wallet/src/context/bonding.tsx
  nym-wallet/src/pages/bonding/index.tsx
  nym-wallet/src/pages/settings/system-variables.tsx
  nym-wallet/src/requests/actions.ts
  nym-wallet/src/requests/delegation.ts
  nym-wallet/src/requests/queries.ts
  nym-wallet/src/requests/simulate.ts
  nym-wallet/src/requests/vesting.ts
  nym-wallet/src/types/global.ts
  nym-wallet/src/utils/index.ts
Labels: desktop wallet
