Repository nymtech/nym, pull requests merged in 2023-08, with the labels that each got.

#3756 [rust-sdk] feat: make it more convenient to send and receive messages in different tasks
  Cargo.lock
  documentation/docs/src/sdk/rust.md
  sdk/rust/nym-sdk/Cargo.toml
  sdk/rust/nym-sdk/examples/bandwidth.rs
  sdk/rust/nym-sdk/examples/builder.rs
  sdk/rust/nym-sdk/examples/builder_with_storage.rs
  sdk/rust/nym-sdk/examples/custom_topology_provider.rs
  sdk/rust/nym-sdk/examples/manually_handle_storage.rs
  sdk/rust/nym-sdk/examples/manually_overwrite_topology.rs
  sdk/rust/nym-sdk/examples/parallel_sending_and_receiving.rs
  sdk/rust/nym-sdk/examples/simple.rs
  sdk/rust/nym-sdk/examples/surb-reply.rs
  sdk/rust/nym-sdk/src/bandwidth.rs
  sdk/rust/nym-sdk/src/error.rs
  sdk/rust/nym-sdk/src/mixnet.rs
  sdk/rust/nym-sdk/src/mixnet/client.rs
  sdk/rust/nym-sdk/src/mixnet/native_client.rs
  sdk/rust/nym-sdk/src/mixnet/traits.rs
  service-providers/common/examples/control_requests.rs
  service-providers/network-requester/examples/query.rs
  service-providers/network-requester/src/core.rs
  tools/nym-nr-query/src/main.rs
Labels: rust-sdk

#3723 refactor(nc-desktop): use userdata storage to save user gateway&sp
  nym-connect/desktop/package.json
  nym-connect/desktop/src-tauri/src/config/mod.rs
  nym-connect/desktop/src-tauri/src/config/user_data.rs
  nym-connect/desktop/src-tauri/src/main.rs
  nym-connect/desktop/src-tauri/src/operations/common.rs
  nym-connect/desktop/src-tauri/src/operations/help/storage.rs
  nym-connect/desktop/src-tauri/src/state.rs
  nym-connect/desktop/src/components/AppWindowFrame.tsx
  nym-connect/desktop/src/context/main.tsx
  nym-connect/desktop/src/context/mocks/main.tsx
  nym-connect/desktop/src/pages/connection/index.tsx
  nym-connect/desktop/src/pages/menu/settings/GatewaySettings.tsx
  nym-connect/desktop/src/types/service-provider.ts
  nym-connect/desktop/src/types/storage.ts
  nym-connect/desktop/src/types/user-data.ts
  nym-connect/desktop/src/utils/index.ts
Labels: nym-connect-desktop

#3806 fix(wallet): gateway bond form wrong helper text
  nym-wallet/src/components/Bonding/forms/gatewayValidationSchema.ts
Labels: wallet

#3819 feat(nc): disable privacy switch when active connection
  nym-connect/desktop/src/pages/menu/PrivacyLevelSettings.tsx
Labels: nym-connect-desktop

#3809 fix(nc-android): state sync cross ffi
  nym-connect/native/android/app/build.gradle.kts
  nym-connect/native/android/app/src/main/java/net/nymtech/nyms5/MainActivity.kt
  nym-connect/native/android/app/src/main/java/net/nymtech/nyms5/MainViewModel.kt
  nym-connect/native/android/app/src/main/java/net/nymtech/nyms5/NymProxy.kt
  nym-connect/native/android/app/src/main/java/net/nymtech/nyms5/ProxyWorker.kt
  nym-connect/native/android/build.gradle.kts
  sdk/lib/socks5-listener/src/android.rs
  sdk/lib/socks5-listener/src/lib.rs
Labels: nym-connect-android
