Repository nymtech/nym, pull requests merged in 2023-04, with the labels that each got.

#3307 fix a minor issue in mkdir/touch paths
  documentation/dev-portal/src/tutorials/simple-service-provider/user-client.md
Labels: documentation, chore

#3316 Fix issue where network-requester run failed on fresh init due to missing allow file
  service-providers/network-requester/src/allowed_hosts/hosts.rs
Labels: bug

#3318 Wallet - fix bonding signature issue with vesting acc
  nym-wallet/src/components/Bonding/forms/GatewaySignatureForm.tsx
  nym-wallet/src/components/Bonding/forms/MixnodeSignatureForm.tsx
  nym-wallet/src/context/bonding.tsx
  nym-wallet/src/context/mocks/bonding.tsx
  nym-wallet/src/hooks/useCheckOwnership.ts
  nym-wallet/src/requests/actions.ts
  nym-wallet/src/requests/vesting.ts
  nym-wallet/src/types/global.ts
Labels: nym-wallet

#3308 feat(wallet): app version check
  nym-wallet/nym-wallet-types/src/app.rs
  nym-wallet/src-tauri/src/error.rs
  nym-wallet/src-tauri/src/main.rs
  nym-wallet/src-tauri/src/operations/app/mod.rs
  nym-wallet/src-tauri/src/operations/app/version.rs
  nym-wallet/src-tauri/src/operations/mod.rs
  nym-wallet/src/components/Settings/AppVersion.tsx
  nym-wallet/src/requests/app.ts
  nym-wallet/src/requests/index.ts
  nym-wallet/src/types/rust/AppVersion.ts
  tools/ts-rs-cli/src/main.rs
Labels: nym-wallet

#3262 feat(wallet): add security settings
  nym-wallet/src-tauri/src/main.rs
  nym-wallet/src-tauri/src/operations/mixnet/account.rs
  nym-wallet/src-tauri/src/wallet_storage/account_data.rs
  nym-wallet/src-tauri/src/wallet_storage/mod.rs
  nym-wallet/src/components/Accounts/Accounts.tsx
  nym-wallet/src/components/Accounts/MultiAccountHowTo.tsx
  nym-wallet/src/components/Accounts/MultiAccountWithPwdHowTo.tsx
  nym-wallet/src/components/Accounts/modals/MultiAccountHowTo.tsx
  nym-wallet/src/components/Bonding/BondedGateway.tsx
  nym-wallet/src/components/Settings/PasswordCreateForm.tsx
  nym-wallet/src/components/Settings/PasswordUpdateForm.tsx
  nym-wallet/src/components/Settings/index.ts
  nym-wallet/src/context/auth.tsx
  nym-wallet/src/pages/auth/components/password-strength.tsx
  nym-wallet/src/pages/settings/SecuritySettings.tsx
  nym-wallet/src/pages/settings/Settings.tsx
  nym-wallet/src/requests/account.ts
Labels: wallet

#3319 feat(wallet): app version check (#3308)
  nym-wallet/nym-wallet-types/src/app.rs
  nym-wallet/src-tauri/src/error.rs
  nym-wallet/src-tauri/src/main.rs
  nym-wallet/src-tauri/src/operations/app/mod.rs
  nym-wallet/src-tauri/src/operations/app/version.rs
  nym-wallet/src-tauri/src/operations/mod.rs
  nym-wallet/src/components/Settings/AppVersion.tsx
  nym-wallet/src/requests/app.ts
  nym-wallet/src/requests/index.ts
  nym-wallet/src/types/rust/AppVersion.ts
  tools/ts-rs-cli/src/main.rs
Labels: qa, nym-wallet

#3339 added coconut credential generation example
  documentation/docs/src/sdk/rust.md
Labels: documentation

#3325 update mix-node setup docs with node description
  documentation/docs/src/nodes/mix-node-setup.md
Labels: documentation

#3349 version bump for next release
  documentation/dev-portal/book.toml
  documentation/docs/book.toml
Labels: documentation

#3188 Split wallet sign in and main into two entry points
  nym-wallet/src-tauri/src/main.rs
  nym-wallet/src-tauri/src/operations/app/mod.rs
  nym-wallet/src-tauri/src/operations/app/react.rs
  nym-wallet/src-tauri/src/operations/app/window.rs
  nym-wallet/src-tauri/src/state.rs
  nym-wallet/src/auth.tsx
  nym-wallet/src/common.tsx
  nym-wallet/src/context/main.tsx
  nym-wallet/src/context/mocks/main.tsx
  nym-wallet/src/main.tsx
  nym-wallet/src/requests/account.ts
  nym-wallet/src/requests/app.ts
  nym-wallet/src/requests/wrapper.ts
  nym-wallet/src/routes/app.tsx
  nym-wallet/src/routes/auth.tsx
  nym-wallet/src/routes/index.tsx
  nym-wallet/webpack.common.js
Labels: nym-wallet

#3338 feat(wallet): update bond amount
  nym-wallet/src-tauri/src/error.rs
  nym-wallet/src-tauri/src/main.rs
  nym-wallet/src-tauri/src/operations/mixnet/bond.rs
  nym-wallet/src-tauri/src/operations/simulate/mixnet.rs
  nym-wallet/src-tauri/src/operations/simulate/vesting.rs
  nym-wallet/src-tauri/src/operations/vesting/bond.rs
  nym-wallet/src-tauri/src/state.rs
  nym-wallet/src/components/Bonding/BondedMixnodeActions.tsx
  nym-wallet/src/components/Bonding/modals/BondMoreModal.tsx
  nym-wallet/src/components/Bonding/modals/BondOversaturatedModal.tsx
  nym-wallet/src/components/Bonding/modals/UpdateBondAmountModal.tsx
  nym-wallet/src/context/bonding.tsx
  nym-wallet/src/context/main.tsx
  nym-wallet/src/context/mocks/bonding.tsx
  nym-wallet/src/context/mocks/main.tsx
  nym-wallet/src/pages/bonding/Bonding.tsx
  nym-wallet/src/requests/actions.ts
  nym-wallet/src/requests/simulate.ts
  nym-wallet/src/requests/vesting.ts
  nym-wallet/src/types/global.ts
Labels: nym-wallet
