Repository nymtech/nym, pull requests merged in 2023-03, with the labels that each got.

#3130 fix(explorer): fix layout responsiveness in mixnode details view
  explorer/src/components/MixNodes/DetailSection.tsx
Labels: network-explorer

#3146 Wallet - custom fees and memo features
  common/client-libs/validator-client/src/nyxd/coin.rs
  common/client-libs/validator-client/src/nyxd/fee/mod.rs
  nym-wallet/src-tauri/src/main.rs
  nym-wallet/src-tauri/src/operations/simulate/cosmos.rs
  nym-wallet/src-tauri/src/state.rs
  nym-wallet/src/components/Modals/ModalListItem.tsx
  nym-wallet/src/components/Send/SendDetails.stories.tsx
  nym-wallet/src/components/Send/SendDetailsModal.tsx
  nym-wallet/src/components/Send/SendInputModal.tsx
  nym-wallet/src/components/Send/SendModal.tsx
  nym-wallet/src/hooks/useGetFee.ts
  nym-wallet/src/requests/simulate.ts
Labels: wallet

#3165 chore: simplify mnemonic zeroize story
  Cargo.lock
  Cargo.toml
  clients/credential/Cargo.toml
  common/client-libs/validator-client/Cargo.toml
  common/client-libs/validator-client/src/nyxd/wallet/mod.rs
  common/commands/Cargo.toml
  gateway/Cargo.toml
  nym-api/Cargo.toml
  nym-connect/desktop/src-tauri/Cargo.toml
  nym-connect/mobile/src-tauri/Cargo.toml
  nym-wallet/Cargo.lock
  nym-wallet/nym-wallet-recovery-cli/Cargo.toml
  nym-wallet/nym-wallet-types/Cargo.toml
  nym-wallet/src-tauri/Cargo.toml
  nym-wallet/src-tauri/src/operations/mixnet/account.rs
  nym-wallet/src-tauri/src/utils.rs
  nym-wallet/src-tauri/src/wallet_storage/account_data.rs
  nym-wallet/src-tauri/src/wallet_storage/mod.rs
  nym-wallet/src-tauri/src/wallet_storage/password.rs
  tools/nym-cli/Cargo.toml
Labels: chore

#3196 feat(nc-mobile): select service provider
  nym-connect/mobile/src-tauri/Cargo.lock
  nym-connect/mobile/src-tauri/Cargo.toml
  nym-connect/mobile/src-tauri/src/lib.rs
  nym-connect/mobile/src-tauri/src/logging.rs
  nym-connect/mobile/src-tauri/src/main.rs
  nym-connect/mobile/src-tauri/src/menu.rs
  nym-connect/mobile/src-tauri/src/operations/mod.rs
  nym-connect/mobile/src-tauri/src/operations/window/mod.rs
  nym-connect/mobile/src-tauri/src/window.rs
  nym-connect/mobile/src-tauri/tauri.conf.json
  nym-connect/mobile/src/components/AppWindowFrame.tsx
  nym-connect/mobile/src/components/CustomTitleBar.tsx
  nym-connect/mobile/src/components/TooltipInfo.tsx
  nym-connect/mobile/src/context/main.tsx
  nym-connect/mobile/src/context/mocks/main.tsx
  nym-connect/mobile/src/pages/connection/index.tsx
  nym-connect/mobile/src/pages/menu/Apps.tsx
  nym-connect/mobile/src/pages/menu/settings/GatewaySettings.tsx
  nym-connect/mobile/src/pages/menu/settings/ServiceProviderSettings.tsx
  nym-connect/mobile/src/pages/menu/settings/index.tsx
  nym-connect/mobile/src/routes/index.tsx
  nym-connect/mobile/src/types/service-provider.ts
  nym-connect/mobile/src/types/storage.ts
  nym-connect/mobile/src/utils/index.ts
Labels: nym-connect-mobile

#3207 removed migration code from mixnet and vesting contracts
  contracts/mixnet/src/contract.rs
  contracts/mixnet/src/queued_migrations.rs
  contracts/vesting/src/contract.rs
  contracts/vesting/src/queued_migrations.rs
Labels: chore

#3203 disable sign-ext when using wasm-opt + update wasm-opt
  .github/workflows/build-and-upload-binaries-ci.yml
  .github/workflows/contracts-build.yml
  Makefile
  contracts/mixnet/Makefile
Labels: bug, chore

#3199 chore: tidy up client `Debug` config section
  clients/client-core/src/client/base_client/helpers.rs
  clients/client-core/src/client/base_client/mod.rs
  clients/client-core/src/client/base_client/non_wasm_helpers.rs
  clients/client-core/src/client/real_messages_control/mod.rs
  clients/client-core/src/client/replies/reply_storage/backend/browser_backend.rs
  clients/client-core/src/client/replies/reply_storage/backend/mod.rs
  clients/client-core/src/config/mod.rs
  clients/client-core/src/config/old_config_v1_1_13.rs
  clients/client-core/src/init/mod.rs
  clients/native/src/client/config/mod.rs
  clients/native/src/client/config/old_config_v1_1_13.rs
  clients/native/src/client/config/template.rs
  clients/native/src/commands/init.rs
  clients/native/src/commands/mod.rs
  clients/native/src/commands/run.rs
  clients/socks5/src/client/config/mod.rs
  clients/socks5/src/client/config/old_config_v1_1_13.rs
  clients/socks5/src/client/config/template.rs
  clients/socks5/src/commands/init.rs
  clients/socks5/src/commands/mod.rs
  clients/socks5/src/commands/run.rs
  clients/webassembly/src/client/config.rs
  clients/webassembly/src/client/mod.rs
  service-providers/network-requester/src/core.rs
Labels: chore

#3230 refactor(wallet): balance ui responsiveness
  nym-wallet/src/pages/balance/Vesting.tsx
Labels: wallet

#3253 feat(wallet): settings
  nym-wallet/src/components/AppBar.tsx
  nym-wallet/src/components/Settings/AppVersion.tsx
  nym-wallet/src/components/Settings/ThemeSwitcher.tsx
  nym-wallet/src/components/Settings/index.ts
  nym-wallet/src/pages/index.ts
  nym-wallet/src/pages/node-settings/node-stats.tsx
  nym-wallet/src/pages/node-settings/profile.tsx
  nym-wallet/src/pages/node-settings/system-variables.tsx
  nym-wallet/src/pages/node-settings/tabs.tsx
  nym-wallet/src/pages/node-settings/useSettingsState.ts
  nym-wallet/src/pages/node-settings/validationSchema.ts
  nym-wallet/src/pages/settings/AdvancedSettings.tsx
  nym-wallet/src/pages/settings/GeneralSettings.tsx
  nym-wallet/src/pages/settings/Settings.tsx
  nym-wallet/src/pages/settings/index.ts
  nym-wallet/src/routes/app.tsx
Labels: wallet
