Repository nymtech/nym, pull requests merged in 2023-10, with the labels that each got.

#3955 Gateway client registry and api routes
  CHANGELOG.md
  Cargo.lock
  gateway/Cargo.toml
  gateway/src/error.rs
  gateway/src/node/client_handling/client_registration.rs
  gateway/src/node/client_handling/mod.rs
  gateway/src/node/client_handling/websocket/connection_handler/coconut.rs
  gateway/src/node/http/api/mod.rs
  gateway/src/node/http/api/v1/client_registry.rs
  gateway/src/node/http/api/v1/mod.rs
  gateway/src/node/http/mod.rs
  gateway/src/node/mod.rs
  service-providers/network-requester/src/core.rs
Labels: gateway

#3986 use saturating sub in case outfox is not enabled
  common/client-libs/gateway-client/src/traits.rs
Labels: bug

#4031 [OPERATORS]: Smoosh update
  documentation/operators/src/faq/mixnodes-faq.md
  documentation/operators/src/faq/smoosh-faq.md
  documentation/operators/src/legal/exit-gateway.md
  documentation/operators/src/nodes/gateway-setup.md
  documentation/operators/src/nodes/maintenance.md
  documentation/operators/src/nodes/network-requester-setup.md
  documentation/operators/src/nodes/troubleshooting.md
Labels: documentation, gateway
