Repository nymtech/nym, pull requests merged in 2023-05, with the labels that each got.

#3370 Feature/1 1 17 docs
  documentation/README.md
  documentation/dev-portal/book.toml
  documentation/docs/book.toml
  documentation/docs/src/nodes/gateway-setup.md
  documentation/docs/src/nodes/mix-node-setup.md
  documentation/docs/src/sdk/rust.md
Labels: documentation

#3362 refactor(wallet-bonding): fetch node data concurrently
  nym-wallet/src/context/bonding.tsx
Labels: nym-wallet

#3368 Update issue templates
  .github/ISSUE_TEMPLATE/documentation.md
Labels: documentation

#3388 feat(wallet-bonding): enforce semver for node version
  nym-wallet/src/components/Bonding/forms/GatewayInitForm.tsx
  nym-wallet/src/components/Bonding/forms/MixnodeInitForm.tsx
  nym-wallet/src/pages/bonding/node-settings/settings-pages/general-settings/GeneralGatewaySettings.tsx
  nym-wallet/src/pages/bonding/node-settings/settings-pages/general-settings/GeneralMixnodeSettings.tsx
Labels: nym-wallet

#3391 Bug fix: resolve dead-lock when switching signin to main app window in the Nym Wallet
  nym-wallet/src-tauri/src/operations/app/window.rs
Labels: nym-wallet

#3392 version bump to 1.1.18
  documentation/dev-portal/book.toml
  documentation/dev-portal/src/community-resources/community-guides.md
  documentation/docs/book.toml
Labels: documentation

#3375 feat(wallet): select validator
  common/client-libs/validator-client/src/connection_tester.rs
  nym-wallet/src-tauri/src/config/mod.rs
  nym-wallet/src-tauri/src/error.rs
  nym-wallet/src-tauri/src/main.rs
  nym-wallet/src-tauri/src/network_config.rs
  nym-wallet/src-tauri/src/operations/mixnet/account.rs
  nym-wallet/src-tauri/src/state.rs
  nym-wallet/src/components/Settings/SelectValidator.tsx
  nym-wallet/src/context/bonding.tsx
  nym-wallet/src/pages/settings/AdvancedSettings.tsx
  nym-wallet/src/requests/network.ts
  nym-wallet/src/utils/fireRequests.ts
  nym-wallet/src/utils/index.ts
Labels: desktop-wallet

#3413 TypeScript SDK fixes
  sdk/typescript/packages/sdk/src/mixnet/wasm/types.ts
  sdk/typescript/packages/sdk/src/mixnet/wasm/worker.ts
Labels: bug

#3465 introduced a call to check if database was already initialised
  common/wasm-utils/src/storage/mod.rs
  nym-browser-extension/package.json
  nym-browser-extension/src/context/app.tsx
  nym-browser-extension/src/context/register.tsx
  nym-browser-extension/src/routes/index.tsx
  nym-browser-extension/storage/src/storage.rs
  yarn.lock
Labels: browser-extension

#3462 introduced mnemonic key existence check
  common/wasm-utils/src/storage/error.rs
  common/wasm-utils/src/storage/mod.rs
  nym-browser-extension/storage/internal-dev/index.js
  nym-browser-extension/storage/src/storage.rs
Labels: browser-extension
