Repository nymtech/nym, pull requests merged in 2023-06, with the labels that each got.

#3496 fix(ns5-android): make lib calling callbacks
  nym-connect/native/android/app/src/main/java/net/nymtech/nyms5/MainViewModel.kt
  nym-connect/native/android/app/src/main/java/net/nymtech/nyms5/NymProxy.kt
  nym-connect/native/android/app/src/main/java/net/nymtech/nyms5/ProxyWorker.kt
  nym-connect/native/android/build.gradle
  sdk/lib/socks5-listener/src/android.rs
  sdk/lib/socks5-listener/src/lib.rs
Labels: nym-connect-mobile

#3499 fix(wallet): fix bonding data refresh
  nym-wallet/src/context/bonding.tsx
Labels: desktop-wallet

#3514 updating managed keys after gateway registration
  common/client-core/src/init/mod.rs
  sdk/rust/nym-sdk/src/mixnet/client.rs
Labels: bug

#3515 Fixed incorrect assertion when sending replies
  common/client-core/src/client/real_messages_control/message_handler.rs
Labels: bug

#3552 Feature/node tester disconnect
  clients/webassembly/internal-dev/worker.js
  clients/webassembly/src/tester/helpers.rs
  clients/webassembly/src/tester/mod.rs
  common/client-libs/gateway-client/src/client.rs
  common/task/src/manager.rs
Labels: gateway, wasm

#3555 optional id argument for NymNodeTester
  clients/webassembly/internal-dev/worker.js
  clients/webassembly/src/tester/mod.rs
Labels: wasm

#3586 [bugfix] NC: load old gateway configuration if we're not registering
  nym-connect/desktop/src-tauri/src/config/mod.rs
Labels: bug

#3593 Feature/release 1 1 22 docs
  documentation/dev-portal/book.toml
  documentation/docs/book.toml
  documentation/docs/src/clients/socks5-client.md
  documentation/docs/src/nodes/gateway-setup.md
  documentation/docs/src/nodes/mix-node-setup.md
  documentation/docs/src/nodes/validator-setup.md
  documentation/docs/src/sdk/rust.md
  documentation/docs/src/wallet/desktop-wallet.md
Labels: documentation

#3602 Feature/release 1 1 23 docs (misnamed branchname, ignore)
  documentation/dev-portal/book.toml
  documentation/docs/book.toml
  documentation/docs/src/clients/socks5-client.md
  documentation/docs/src/nodes/gateway-setup.md
  documentation/docs/src/nodes/mix-node-setup.md
  documentation/docs/src/nodes/validator-setup.md
  documentation/docs/src/sdk/rust.md
  documentation/docs/src/wallet/desktop-wallet.md
Labels: documentation

#3609 feat(nc): monitoring update
  nym-connect/desktop/src/pages/menu/index.tsx
  nym-connect/desktop/src/pages/menu/settings/MonitoringSettings.tsx
  nym-connect/desktop/src/pages/menu/settings/index.tsx
  nym-connect/desktop/src/routes/index.tsx
  nym-connect/desktop/src/sentry.ts
  nym-connect/native/android/app/build.gradle
  nym-connect/native/android/app/src/main/java/net/nymtech/nyms5/App.kt
  nym-connect/native/android/app/src/main/java/net/nymtech/nyms5/MainActivity.kt
  nym-connect/native/android/app/src/main/java/net/nymtech/nyms5/NymProxy.kt
  nym-connect/native/android/app/src/main/java/net/nymtech/nyms5/ProxyWorker.kt
  nym-connect/native/android/app/src/main/res/values/strings.xml
Labels: nym-connect-desktop
