Repository nymtech/nym, pull requests merged in 2023-02, with the labels that each got.

#2963 Don't drop in mixnet connection handler
  gateway/src/node/mixnet_handling/receiver/connection_handler.rs
  mixnode/src/node/listener/connection_handler/mod.rs
Labels: bug, mixnode, gateway

#2972 Add client functionality into nym-network-requester
  Cargo.lock
  clients/client-core/src/client/real_messages_control/real_traffic_stream.rs
  clients/socks5/src/socks/server.rs
  common/client-connections/src/lib.rs
  common/socks5/proxy-helpers/src/connection_controller.rs
  service-providers/network-requester/Cargo.toml
  service-providers/network-requester/src/cli/init.rs
  service-providers/network-requester/src/cli/mod.rs
  service-providers/network-requester/src/cli/run.rs
  service-providers/network-requester/src/config/mod.rs
  service-providers/network-requester/src/config/template.rs
  service-providers/network-requester/src/core.rs
  service-providers/network-requester/src/error.rs
  service-providers/network-requester/src/main.rs
  service-providers/network-requester/src/reply.rs
  service-providers/network-requester/src/websocket.rs
Labels: nym-client, rust-sdk

#3089 reversed the dependency between 'nym-contracts-common' and 'dkg'
  Cargo.lock
  common/cosmwasm-smart-contracts/contracts-common/Cargo.toml
  common/cosmwasm-smart-contracts/contracts-common/src/dealings.rs
  common/dkg/Cargo.toml
  common/dkg/src/dealing.rs
  nym-api/Cargo.toml
Labels: chore

#3081 Feature/latency based gateway selection
  Cargo.lock
  clients/client-core/Cargo.toml
  clients/client-core/src/client/base_client/mod.rs
  clients/client-core/src/error.rs
  clients/client-core/src/init/helpers.rs
  clients/client-core/src/init/mod.rs
  clients/native/src/commands/init.rs
  clients/socks5/src/commands/init.rs
  common/client-libs/validator-client/src/client.rs
  nym-connect/desktop/src-tauri/src/config/mod.rs
  nym-connect/mobile/src-tauri/src/config/mod.rs
  sdk/rust/nym-sdk/src/mixnet/client.rs
  service-providers/network-requester/src/cli/init.rs
Labels: enhancement
