Repository nymtech/nym, pull requests merged in 2023-01, with the labels that each got.

#2780 feature(wallet-buy): pass wallet address as url param
  nym-wallet/src/components/Buy/Tutorial.tsx
Labels: wallet

#2892 feat(explorer): copy changes
  explorer/src/components/MixNodes/Economics/Columns.ts
  explorer/src/pages/Mixnodes/index.tsx
Labels: network-explorer

#2910 Bugfix/verloc send shutdown
  common/mixnode-common/src/verloc/sender.rs
Labels: bug

#2913 feat(explorer): add routing score on gateway list
  explorer/src/api/constants.ts
  explorer/src/api/index.ts
  explorer/src/components/Gateways.ts
  explorer/src/pages/GatewayDetail/index.tsx
  explorer/src/pages/Gateways/index.tsx
  explorer/src/typeDefs/explorer-api.ts
Labels: network-explorer
